body {
	text-align:center;
	background-color:rgb(235,235,235);
	color:black;
	font-family: sans-serif;
  font-size:.9em;
}

h1 {
	font-size:4em;
	margin:0;
	padding:0;
	font-weight:bold;
} 

h2 {
	font-size:2em;
	margin:0;
	padding:0;
}

.session {
	width:400px;
	height:70px;
	line-height:70px;
	text-align:center;
	color:white;
	background-color:#4d4d4d;
	margin:10px auto;
	font-size:4em;
	font-weight:bold;
}
.A {
	margin: 0 auto;
	width:200px;
	height:150px;
	color:white;
	background-color: rgb (204,4,4);
	line-height:150px;
	font-weight:bold;
	font-size:10em;
}
.B {
	margin: 0 auto;
	width:200px;
	height:150px;
	color:white;
	background-color: rgb(255,108,10);
	line-height:150px;
	font-weight:bold;
	font-size:10em;
}
.C {
	margin: 0 auto;
	width:200px;
	height:150px;
	color:white;
	background-color: rgb(235,187,14);
	line-height:150px;
	font-weight:bold;
	font-size:10em;
}
.F {
	margin: 0 auto;
	width:200px;
	height:150px;
	color:white;
	background-color:black;
	line-height:150px;
	font-weight:bold;
	font-size:10em;
}
